<!--  Replace top menu links here -->

<li class="nav-item">
	<a class="nav-link active" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/categories.html">Sections</a>
</li>
<!-- <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/web-concepts-library/">Post</a> -->
</li>
<!-- <li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li> -->
<li class="nav-item">
	<a class="nav-link" href="{{site.baseurl}}/about.html"><span class="align-middle">About &nbsp; &nbsp;</span>
		<img class="rounded-circle mr-2" src="{{site.baseurl}}/{{site.avatar}}" width="30">
	</a>
</li>